.score-container {
    width : 150px;
    height : 150px;
}
.score-title {
    text-align : center;
    margin-bottom:20px;
}
.score-number {
    color : white;
    background-color : #1aa3ff;
    width : 150px;
    height : 150px;
    text-align : center;
    font-size:60px;
    padding-top :20px;
}